<div class="vh-100 row error text-center">
    <div class="col-12 my-auto">
        <h1 class="display-3">{{message}}</h1>
        <h2 class="my-5 display-1">{{error.status}}</h2>
        <p class="display-3">{{customMessage}}</p>
        <a href="/">WANNA GO BACK?</a>
    </div>

</div>