<div class="modal" id="exampleModalCenter">
    <div class="fade-bg"></div>
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content p-4">
            <h2 class="name text-center my-3"></h2>
            <p class="description my-3"></p>
            <div class="figure my-3">
                <ul>
                    <li class="radius"></li>
                    <li class="area"></li>
                    <li class="temperature"></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="svg-wrapper">
    <object data="images/terrestrial_planets.svg" id='graphic' class="svg-graphic" type="image/svg+xml"></object>
</div>