<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <h1 class="name text-center my-3"></h1>
            <p class="description my-3"></p>
            <div class="figure my-3">
                <li class="radius"></li>
                <li class="area"></li>
                <li class="temperature"></li>
            </div>
        </div>
    </div>
</div>



<div class="svg-wrapper">
    <object data="images/terrestrial_planets.svg" id='graphic' class="svg-graphic" type="image/svg+xml"></object>
</div>