<!DOCTYPE html>
<html lang="en">

<head>
  <title>Terrestrial Planets</title>
  <link rel='stylesheet' href='/css/main.css' />
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
</head>

<body>
  {{{body}}}

  <script src="js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.1/MotionPathPlugin.min.js"></script>
</body>

</html>